.contact {
	.wrapper {
		background: rgba(244, 244, 244, 1);
		.contactInfo{
			position: relative;
			h4 {
				font-size: 1.6rem;
		    transform: rotate(-90deg);
		    position: absolute;
		    padding: 5px;
		    /* writing-mode: lr-tb; */
		    text-transform: uppercase;
		    border-bottom: 1px solid black;
			}
			p {
				padding: 0 60px;
			}
			
		}
		.wpcf7 {
			// background-color: #F0F0F0;
			// border: 5px solid #666666; 
			.wpcf7-form { 
				margin-left: 25px; 
				margin-right: 25px; 
				margin-top: 25px;
			}
		}
	}
	.wpcf7-textarea {
		width: 85%;
	}

	.wpcf7 p {
		width: 50%;
	}

	// p:first-child {
	// 	float:left;
	// }

	.wpcf7-form p:nth-child(2) {
		float: left;
		padding-right: 5px;
	}

	.wpcf7-form p:nth-child(3){
		float: left;
		padding-left: 5px;
	}

	.wpcf7-form p:nth-child(4){
		width: 100%;
	}	

	.wpcf7-form p:nth-child(5){
		margin: 0 auto;
		width: 15%;
	}

	.wpcf7 input {
		width: 100%; 
	}
	.wpcf7-text {
		width: 80%;
	}
	
	.wpcf7-textarea {
		width: 100%;
		border: 1px solid #E0E0E0;
	}

	// .wpcf7-form-control {
	// 	width: 50%;
	// }

	.wpcf7-submit { 
		padding: 5px 10px;
		width: 50%;
		color: #ffffff;
		border: 2px solid rgba(235, 127, 124, 1);
		background: rgba(235, 127, 124, 1);
	}
}