header {
	position: fixed;
	width: 100%;
	z-index: 99999;
}
.headerNav {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	@include rtl() {
		flex-direction: row-reverse;
		flex-wrap: wrap;
	}
}

.logo {
	width: 10%;
	align-self: center;
}

.mainNav {
	height: 100vh;
	position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  background: rgba(58, 58, 58, 1);
  width: 300px;
  z-index: 9999;
  transform: translateX(100%);
  transition: all .5s;
	ul {
		width: 100%;
		padding-top: 75px;
		padding-left: 0;
		padding-right: 0;
		margin: 0;
		// padding: 0;
		// display: none;
		li {
			// display: inline;
			// border: 2px solid rgba(235, 127, 124, 1);
			width: 100%;
			// float: left;
  		margin-top: 5%;
			list-style-type: none;
			border-bottom: 1px solid rgba(235, 127, 124, 1);
			a {
				font-size: 3rem;
				width: 100%;
				display: block;
				text-align: center;
				padding: 10px;
				color: white;
				padding: 20px;
    		// margin: 5%;
				// float: left;
				transition: all .5s;
			}
			a:hover{
				color: rgba(235, 127, 124, .75);
				// color: white;
			}
		}
	}
}
.mainNav.active {
  transform: translateX(0);
}

#menuBurger {
	// display: none;
	margin: 0;
  padding: 0; 
  width: 35px;
  height: 35px;
  position: relative;
  margin: 50px auto;
  z-index: 999999;
  transform: rotate(0deg);
  transition: .5s ease-in-out;
  span {
  	display: block;
	  position: absolute;
	  height: 5px;
	  width: 100%;
	  background: rgba(235, 127, 124, 1);
	  border-radius: 9px;
	  opacity: 1;
	  left: 0;
	  transform: rotate(0deg);
	  transition: .25s ease-in-out;
  }
  span:nth-child(1) {
    top: 0px;
  }

  span:nth-child(2) {
    top: 10px;
  }

  span:nth-child(3) {
    top: 20px;
  }
}
#menuBurger.open span:nth-child(1) {
	top: 10px;
	transform: rotate(135deg);
}
#menuBurger.open span:nth-child(2) {
  opacity: 0;
  left: -60px;
}
#menuBurger.open span:nth-child(3) {
	top: 10px;
  transform: rotate(-135deg);	
}

.overlayMenu{
	display: none;
	width: 100vw;
  position: fixed;
  height: 100vh;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 555;
  padding: 1% 2%;
  background: rgba(58, 58, 58, 1);
	.wrapper{
		// i {
		// 	width: 100%;
		// 	font-size: 4rem;
		// 	text-align: right;
		// 	color: white;
		// }
		ul.menu {
			width: 100%;
			// float:right;
			margin: 0;
			padding: 0;
			// display: none;
			li {
				// display: inline;
				// border: 2px solid rgba(235, 127, 124, 1);
				width: 100%;
				// float: left;
	  		margin-top: 5%;
				list-style-type: none;
				a {
					font-size: 3rem;
					width: 100%;
					display: block;
					text-align: center;
					padding: 10px;
					color: white;
					// float: left;
					transition: all .5s;
				}
				a:hover{
					color: rgba(235, 127, 124, .75);
					// color: white;
				}
			}
		}
	}	
}	

@media (max-width:764px){
	.mainNav {
		width: 100%;
		background: rgba(58, 58, 58, 0.8);
	}
}